@import "../../styles/global_variables.scss";

.doc-wrapper {
	padding-top: 60px; }

.title-doc-field {
	font-size: 32px;
	height: auto; }

.contacts-title {
	margin-bottom: 30px; }







.title {
	margin-bottom: 16px; }

.action-buttons {
	position: relative;
	padding: 0 0 38px 0;

	>  button {
		margin-right: 12px;	}
}

.waiting-time {
	position: relative;
	padding: 0 0 44px 26px;
	color: #cb327c;
	font-size: 21px;

	> i {
		position: absolute;
		top: 4px;
		left: 0;
		color: #babcbf;
		font-size: 16px; }

	> .label {
		color: #babcbf;
		font-size: 16px; }
}

.dates {
	position: relative;
	padding: 0 0 23px 26px;
	color: #0a0a0a;

	> i {
		position: absolute;
		top: 4px;
		left: 0;
		color: #babcbf; }

	> .label {
		color: #babcbf; }
}

.contacts {
	position: relative;
	padding: 12px 0 23px 26px;

	> i {
		position: absolute;
		top: 16px;
		left: 0;
		color: #babcbf; }

	> .label {
		color: #babcbf; }

	> .contact {
		position: relative;

		> .name {
			padding: 12px 0 0 0;
			color: #cb327c; }

		> .email {
			padding: 0 0 6px 0;
			color: #0a0a0a; }
	}
}


/* ================================================================== *\


		@media (min-width: 768px) and (max-width: 1024px) {

    #Small devices (tablets, 768px and up)



\* ================================================================== */ @media (min-width: 768px) {





/* ================================================================== *\



    #Medium devices (desktops, 992px and up)



\* ================================================================== */ } @media (min-width: 992px) {





/* ================================================================== *\



		#Large devices (large desktops, 1200px and up)



\* ================================================================== */ } @media (min-width: 1200px) {





/* ================================================================== */ } /* END devices */
