/*------------------------------------*\
    #LOADINGS
\*------------------------------------*/
.loading-book-small-ot {
    position: relative;
    margin: 0 auto;
    width: 84px;
    height: 84px;
    overflow: hidden;
    opacity: 0.8;
}
.loading-book-small-back {
    position: relative;
    margin: 13px 0 0 10px;
}
.loader, .loader-small, .loader-small-delete {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 2px solid rgba(255, 255, 255, 0.0);
  border-right: 2px solid rgba(255, 255, 255, 0.0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.0);
  border-left: 2px solid #276D8C;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 84px;
  height: 84px;
}
.loader-small,
.loader-small:after {
    top: 6px;
    left: 10px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    border-left: 2px solid #E2E2E2;
}
.loader-small-delete,
.loader-small-delete:after {
    top: 34px;
    left: 40px;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    border-left: 2px solid #E2E2E2;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.la-ball-clip-rotate {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
  color: #fff;
}
.la-ball-clip-rotate.la-dark {
  color: #333;
}
.la-ball-clip-rotate > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-clip-rotate {
  width: 32px;
  height: 32px;
}
.la-ball-clip-rotate > div {
  width: 32px;
  height: 32px;
  background: transparent;
  border-width: 2px;
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: ball-clip-rotate .75s linear infinite;
  -moz-animation: ball-clip-rotate .75s linear infinite;
   -o-animation: ball-clip-rotate .75s linear infinite;
      animation: ball-clip-rotate .75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
  width: 16px;
  height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
  width: 16px;
  height: 16px;
  border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
  width: 64px;
  height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
  width: 96px;
  height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
  width: 96px;
  height: 96px;
  border-width: 6px;
}
/*
* Animation
*/
@-webkit-keyframes ball-clip-rotate {
  0% {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }
  50% {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  }
}
@-moz-keyframes ball-clip-rotate {
  0% {
  -moz-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  50% {
  -moz-transform: rotate(180deg);
       transform: rotate(180deg);
  }
  100% {
  -moz-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}
@-o-keyframes ball-clip-rotate {
  0% {
  -o-transform: rotate(0deg);
     transform: rotate(0deg);
  }
  50% {
  -o-transform: rotate(180deg);
     transform: rotate(180deg);
  }
  100% {
  -o-transform: rotate(360deg);
     transform: rotate(360deg);
  }
}
@keyframes ball-clip-rotate {
  0% {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  }
  50% {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
  }
}

.timeline-item {
  padding: 23px 32px 12px 32px;
  margin: 0 auto;
  max-width: 480px;
  min-height: 130px; }

@keyframes placeHolderShimmer{
  0% {
    background-position: -420px 0; }
  100% {
    background-position: 480px 0; }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 56px;
  position: relative;
  margin-bottom: 12px; }

.background-masker {
    background: #fff;
    position: absolute;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 0;
  left: 0;
  right: 0;
  height: 6px; }

.background-masker.content-top {
  height: 20px; }

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 20px;
  height: 8px; }

.background-masker.content-second-line  {
  top: 28px; }

.background-masker.content-second-end {
  left: 420px;
  top: 34px; }

.background-masker.content-third-line {
  top: 42px; }

.background-masker.content-third-end {
  left: 200px;
  top: 48px; }