# Logs
# Design folder
design

# API folder
api

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Ignore build files
build

# Index file because of Google API key
public/index.html
