@import "../../styles/global_variables.scss";

.status-bar {
	position: relative;
	width: 100%;
	margin: 0 auto 50px;
	height: $step_size + 10 * 1px; }

.step {
	position: absolute;
	top: 2px;
	width: $step_size * 1px;
	height: $step_size * 1px;
	margin: 0;
  padding-top: 6px;
	font-size: 21px;
	color: #fff;
	text-align: center;
	background: #e8e8e8;
	@include border-radius(50px);

	&.active {
		color: #fff;
		// @include basic-background();
		@include box-shadow(0 2px 8px rgba(50, 50, 93, 0.21));
		background: #d83371; }

	/* ========================================== *\
			4
	\* ========================================== */
	&.s1-4 {
		left: 0;
		margin-left: 2px; }

	&.s2-4 {
		left: 33%;
		margin-left: -($step_size / 2) * 1px; }

	&.s3-4 {
		left: 66%;
		margin-left: -($step_size / 2) * 1px; }

	&.s4-4 {
		left: 100%;
		margin-left: -($step_size + 2) * 1px; }
}

.back-dots {
	position: relative;
	float: left;
	height: 50px;

	> .dots-padding {
		position: relative;
		float: left;
		width: 100%;
		height: 50px;

		> .dot-1,
		> .dot-2,
		> .dot-3,
		> .dot-4,
		> .dot-5 {
			top: 21px;
			width: $dot_size * 1px;
			height: $dot_size * 1px;
			margin: 0;
			background: #e8e8e8;
			@include border-radius(50px); }

		> .dot-1 {
			position: absolute;
			left: 0;
			margin-left: 1px; }

		> .dot-2 {
			position: absolute;
			left: 25%;
			margin-left: -($dot_size / 2) * 1px; }

		> .dot-3 {
			position: absolute;
			left: 50%;
			margin-left: -($dot_size / 2) * 1px; }

		> .dot-4 {
			position: absolute;
			left: 75%;
			margin-left: -($dot_size / 2) * 1px; }

		> .dot-5 {
			position: absolute;
			left: 100%;
			margin-left: -($dot_size + 1) * 1px; }
	}

	/* ========================================== *\
			3
	\* ========================================== */
	&.d1-3 {
		width: 33.3%;
		padding: 0 ($step_size + ($step_size / 4)) * 1px 0 ($step_size + ($step_size / 1.5)) * 1px; }	

	&.d2-3 {
		width: 33.3%;
		padding: 0 ($step_size + ($step_size / 3)) * 1px 0 $step_size * 1px; }

	&.d3-3 {
		width: 33.3%;
		padding: 0 ($step_size + ($step_size / 1.5)) * 1px 0 $step_size * 1px; }

	&.active > .dots-padding {
		> .dot-1,
		> .dot-2,
		> .dot-3,
		> .dot-4,
		> .dot-5 {
			background: #bf3287; }
	}
}


/* ================================================================== *\



    #Small devices (tablets, 768px and up)



\* ================================================================== */ @media (min-width: 768px) {





/* ================================================================== *\



    #Medium devices (desktops, 992px and up)



\* ================================================================== */ } @media (min-width: 992px) {


.status-bar {
	width: 84%; }


/* ================================================================== *\



		#Large devices (large desktops, 1200px and up)



\* ================================================================== */ } @media (min-width: 1200px) {





/* ================================================================== */ } /* END devices */
