@import "../../styles/global_variables.scss"

.content
	position: relative
	float: left
	width: 100%


.profile-picture
	position: relative
	display: inline-block
	width: 90px
	height: 90px
	margin: 30px auto 0
	background: #f5f8fa
	color: #000
	@include border-radius(120px)
	border: 7px solid #fff
	@include box-shadow(0 0 0 2px #f5806c)


.name
	position: relative
	display: inline-block
	width: 100%
	margin: 10px 0 0
	font-size: 20px
	font-weight: 500


.location
	position: relative
	display: inline-block
	width: 100%
	margin: 0
	font-size: 14px
	color: #a5acad


.details
	position: relative
	display: inline-block
	width: 86%
	margin: 26px 0
	padding: 23px 0 25px
	border-top: 1px solid #eaeff0
	border-bottom: 1px solid #eaeff0

	> .d-block
		float: left
		width: 33%
		text-align: center
		font-size: 11px
		color: #a5acad
		text-transform: uppercase
		font-weight: 500

		> .number
			font-size: 15px
			font-weight: bold
			color: #111111

