@import "../../styles/global_variables.scss"

.profile-wrapper
	position: fixed
	top: 0
	left: -100%
	width: 100%
	height: 100vh
	padding: 0
	text-align: center
	background: #ffffff
	border-left: none
	@include box-shadow(-1px 0 10px 1px rgba(0, 0, 0, 0.04))
	overflow: hidden
	// @include transition-two(all .2s ease, transform 2s)
	@include transition-one(left .2s cubic-bezier(0.12, 0.0, 0.48, 1.0))
	z-index: 200

	&.in
		left: 0

	@include media-size(768)
		top: 0
		left: -100%
		width: 360px
		height: 100vh
		border-left: 1px solid #f5f7fd

		&.in
			left: $navigation_bar * 1px



.profile-picture
	position: relative
	display: inline-block
	width: 120px
	height: 120px
	margin: 30px auto 0
	background: #f5f8fa
	@include border-radius(120px)


.name
	position: relative
	display: inline-block
	width: 100%
	margin: 10px 0 0
	font-size: 19px
	font-weight: 500

