@import "../../styles/global_variables.scss";

.col {
	text-align: center; }

.login-wrapper {
	display: inline-block;
	position: relative;
	width: 380px;
	margin: 20px auto 0;
  padding: 30px 50px;
	background: #fff;
	@include border-radius(5px);
	@include box-shadow(none);

	&:after {
		content: '';
		display: table;
		clear: both; }

	> form {
		text-align: left; }
}

.h3-margin {
	margin-bottom: 34px; }

.button-margin {
	margin-top: 34px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	transition: all .26s ease;

	&:hover {
		/* transform: translateY(-1px); */
		background: #3e89c9;
		border-color: #3c86c7;
		box-shadow: 0 5px 18px rgba(50,50,93,.15), 0 5px 18px rgba(0,0,0,.08); }
}


/* ================================================================== *\



    #Small devices (tablets, 768px and up)



\* ================================================================== */ @media (min-width: 768px) {


.login-wrapper {
	margin: 70px 0 0 0;
	@include box-shadow(0 1px 16px 0px rgba(0, 0, 0, 0.04)); }

.h3-margin {
	margin-bottom: 44px; }


/* ================================================================== *\



    #Medium devices (desktops, 992px and up)



\* ================================================================== */ } @media (min-width: 992px) {





/* ================================================================== *\



		#Large devices (large desktops, 1200px and up)



\* ================================================================== */ } @media (min-width: 1200px) {



/* ================================================================== */ } /* END devices */

