.modal.fade {
	display: block;
	overflow: auto;

	&.in {
		display: block;
		background: rgba(0, 0, 0, 0.25); }
}

.modal-body {
	position: relative; }


/* ================================================================== *\



    #Small devices (tablets, 768px and up)



\* ================================================================== */ @media (min-width: 768px) {





/* ================================================================== */ } /* END devices */
